{% extends 'youtubeapp/base.html' %}

{% block title %}Youtube{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for video in videos %}
                <div class="col-3 kolom_video">
                    <img src="{{video.url_video}}" class="konten_video">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-3 foto_author">
                                <div class="bungkus-foto">
                                    <img src="{{video.foto_author}}">
                                </div>
                            </div>
                            <div class="col-9 judul">{{video.judul}}</div>
                            <div class="col-6 author">{{video.author}}</div>
                            <div class="col-6 waktu_upload">{{video.waktu_upload}}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}