{% extends 'youtubeapp/base.html' %}

{% block title %}Youtube{% endblock %}
{% load static %}
{% block content %}
<header>
    <div class="container-fluid align-items-center text-center">
        <div class="row">
            <!-- space kosong di bawah header utama -->
            <div class="header_bawah">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="ver_header col-md-1">
                <div class="row justify-content-center align-items-center">
                    <div class="logo_ver col-md-12 justify-content-center align-items-center text-center">
                        <a href="{% url 'youtubeapp:index' %}"><img  class="image_logo" src="{% static 'img/title/house.png' %}" alt=""></a>
                        <a class="logo-home-verbar " href="{% url 'youtubeapp:index' %}"><h3>Home</h3></a>
                    </div>
                    <div class="logo_ver col-md-12 justify-content-center align-items-center text-center">
                        <a href="{% url 'youtubeapp:upload' %}"><img  class="image_logo" src="{% static 'img/title/kamera.png' %}" alt=""></a>
                        <a class="logo-home-verbar " href="{% url 'youtubeapp:upload' %}"><h3>Upload</h3></a>
                    </div>
                    <div class="logo_ver col-md-12  justify-content-center align-items-center text-center">
                        <a href="{% url 'youtubeapp:trending' %}"><img  class="image_logo" src="{% static 'img/title/trending.png' %}" alt=""></a>
                        <a class="logo-home-verbar " href="{% url 'youtubeapp:trending' %}"><h3>Trending</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11 playlist">Playlist
                {% if message == '1' %}
                 (Trending)
                {% elif message == '2' %}
                 (Search Result)
                {% elif message == '3' %}
                 (Search Result)<br /><br />Video Not Found
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="container-fluid">
                    <div class="row">
                        {% for video in kumpulan_video %}
                        <div class="col-3 kolom_video">
                            <a href="{% url 'youtubeapp:show' video.id%}">
                                <img src="{{video.thumbnail}}" class="konten_video">
                            </a>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-2 kolom_foto_author">
                                        <div class="bungkus-foto">
                                            <img class="foto_author" src="{{video.foto_author}}">
                                        </div>
                                    </div>
                                    <div class="col-10 judul_dan_author">
                                        <div class="col-12 judul_utama">{{video.judul}}</div>
                                        <div class="col-12 author">{{video.author}}</div>
                                        <div class="col-12 waktu_upload">{{video.jumlah_view}} Views<br />{{video.waktu_upload}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}