<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Home
        </title>
        {% load static %}
        <link rel='stylesheet' href="{% static 'CSS/bootstrap.min.css' %}">
        <link rel='stylesheet' href="{% static 'CSS/main.css' %}">
    </head>
    <body>
        <header>
            <div class="header container-fluid ">
                <div class="row align-items-center text-center">
                    <div class="col-md-2">
                        <div>
                            <img href="/" class="image_home" src="{% static 'img/title/youtube.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bar_search col-md-8">
                        <nav class="navbar">
                            <form class="form-inline">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">   
                                    </div>
                                        <span class="input-group-text" id="basic-addon1"><img href="/" class="image_logo" src="{% static 'img/title/search.png' %}" alt=""></span>  
                                </div>
                            </form>
                        </nav>
                    </div>
                    <div class="bar_log col-md-2">
                        <a><img href="/" class="image_logo" src="{% static 'img/title/kamera.png' %}" alt=""></a>
                        <img href="/" class="image_logo" src="{% static 'img/title/lonceng.png' %}" alt="">
                        <img href="/" class="image_logo" src="{% static 'img/title/account.png' %}" alt="">
                    </div>
                </div>
            </div>
        </header>
       