{% extends 'youtubeapp/base.html' %}

{% block title %}Youtube{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 tampilan_video">
                    <iframe width="612" height="315" src="https://www.youtube.com/embed/KEcUsSmAX9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>{{video.judul}}</h5>
                    <p class="waktu_upload_show">{{video.waktu_upload}}</p>
                    <div class="line"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2 kolom_foto_author_show">
                                <div class="bungkus-foto_show">
                                    <img class="foto_author" src="{{video.foto_author}}">
                                </div>
                            </div>
                            <div class="col-10 author_deskripsi">
                                <div class="col-12 author_show">{{video.author}}</div>
                                <div class="col-12">
                                    <p class="desc-video"></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}