{% extends 'youtubeapp/base.html' %}

{% block title %}Youtube{% endblock %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 tampilan_video">
                <div>
                    <iframe width="100%" height="450" src="{{video.embed}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div> 
            <div class="col-md-4 tampilan_video_pinggir justify-content-center align-items-center">
                <div class="up_next">
                    Up Next
                </div>
                <div>
                    <a href="{% url 'youtubeapp:show' random_video.id %}">
                        <img src="{{random_video.thumbnail}}" class="konten_video">
                    </a>
                </div>
                <div class="col-md-12 video_kecil">
                    <div class="judul_utama">{{video.judul}}</div>
                    <div class="author">{{video.author}}</div>
                    <div class="waktu_upload">{{video.jumlah_view}} Views<br />{{video.waktu_upload}}</div>
                </div>
            </div>
        </div>  
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 tampilan_akun">
                <h5 class="judul">
                    {{video.judul}}
                </h5>
                <div class="row tanggal_padding justify-content-center align-items-center">
                    <div class="col-md-8 justify-content-center align-items-center">
                        <ul class="header-nav list-unstyled">
                            <li>
                                <p class="waktu_upload_show"href="/">Views</p>
                            </li>
                            <li>
                                <p class="waktu_upload_show">{{video.waktu_upload}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 justify-content-center align-items-center text-right">
                        <ul class="header-nav list-unstyled">
                            <li>
                                <img href="/" class="image_logo" src="{% static 'img/title/like.png' %}" alt="">
                            </li>
                            <li>
                                <p class="waktu_upload_show"href="/">{{video.jumlah_view}} Views</p>
                            </li>
                            <li>
                                <img href="/" class="image_logo" src="{% static 'img/title/dislike.png' %}" alt="">
                            </li> 
                            <li>
                                <p class="waktu_upload_show">0</p>
                            </li>
                        </ul>
                    </div>
                </div>
                    <div class="line"></div>
                    <div class="container-fluid">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-1 kolom_foto_author_show justify-content-center align-items-center">
                                <div class="bungkus-foto_show">
                                    <img class="foto_author" src="{{video.foto_author}}">
                                </div>
                            </div>
                            <div class="col-11 author_deskripsi">
                                <div class="col-12 author_show">
                                    {{video.author}}
                                </div>
                                <div>
                                    <p class="desc-video">99K Subscriber</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center mar">
                            <div class="col-1 justify-content-center align-items-center">
                            </div>
                            <div class="col-11 author_deskripsi">
                                <p class="desc-video">{{video.deskripsi}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}