@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto:100,100i,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

/* font-family: 'Roboto Condensed', sans-serif; */

/* font-family: 'Noto Sans', sans-serif;

font-family: 'Roboto', sans-serif; */

/*-------------------- Horizontal Header --------------------*/

.header{
    padding: 10px 0;
    position: fixed;
    z-index: 2;
    background-color: white;
}

/*-------------------- Logo youtube --------------------*/
.image_home{
    max-width: 80%;


/*-------------------- logo akun kanan --------------------*/
}
.image_logo{
    height: 30px;
    width: 30px;
}
/* .header-nav li img.image_logo a:hover{
    color:rgb(255, 0, 0);

} */
.bar_log{
    display: block;
    text-align: end;
}
.bar_log img{
    margin-right: 18px;
}
/*-------------------- Search bar --------------------*/

.bar_search{
    display:block ruby;
}

.form-control{
    width: 500px !important;
    height: 43px;
}

/*-------------------- Vertical Header --------------------*/
.header_bawah{
    padding-top: 79px ;
}

.ver_bar h3{
    margin: 0;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold ;

}
.ver_header{
    padding: 10px 0; 
    position: fixed;
    z-index: 1;
    background-color: white;
    height: 100%;
}

/*-------------------- Umum --------------------*/
*{
    font-family: sans-serif;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(249, 249, 249);

}

/*-------------------- Tempat Video --------------------*/
.playlist{
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.kolom_video{
    margin-bottom: 40px;
}

.konten_video{
    width: 100%;
    height: 200px;
}

.foto_author{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 10px 0px;
}

.judul_dan_author{
    padding: 10px 0 0 20px;
    text-align: left;
}

.judul_utama{
    font-weight: 600;
    font-size: 0.9em;
}

.author, .waktu_upload{
    color:rgb(96, 96, 96);
    font-size: 0.8em;
}
/*-------------------- Show Video --------------------*/

.tampilan_video{
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 5px;
}

.judul{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 300;
}

.header-nav{
    margin: 0;
}

.header-nav li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.tanggal_padding{
    margin-bottom: 15px;
    margin-top: 10px;
}
.waktu_upload_show{
    color: rgb(96, 96, 96);
    font-size: 0.9em;
    margin-bottom: 0;
}

.line{
    border: 0.8px solid rgb(194, 194, 194);
}

.author_deskripsi{
    padding-left: 0;
    color: rgb(96, 96, 96);
 
}

.author_show{
    font-size: 1.25em;
    color:rgb(33, 37, 41);
    font-family: sans-serif;
    font-weight: 300;
}

.desc-show{
    padding:0 15px;
    color: rgb(96, 96, 96);
    font-family: 'Roboto Condensed', sans-serif;
}

.desc-video{
    padding: 0 15px;
    margin: 0;
}

/*-------------------- Upload --------------------*/
.judul_upload{
    margin-bottom: 30px;
}

.halaman_upload_form{
    padding-top: 40px;
    text-align: center;
    padding-bottom : 40px;
}

.input_box{
    width: 80%;
}